<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{url_for('static',filename='jquery-3.7.0.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='datatables/datatables.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontello/css/fontello.css') }}">
    <script src="{{url_for('static',filename='datatables/datatables.js')}}"></script>
    <script src="{{url_for('static',filename='disable_submit.js')}}"></script>
    <title>Bus timetable processor</title>
</head>